@model IEnumerable<Libereay_System.Models.BorrowTransaction>

@{
    ViewData["Title"] = "Manage Transactions";
}

<h1 class="fade-in-title-manage-books">Manage Borrowing Transactions</h1>

<table class="table table-bordered table-striped fade-in-table-manage-books">
    <thead>
        <tr>
            <th>Book Title</th>
            <th>User</th>
            <th>Borrow Date</th>
            <th>Return Date</th>
            <th>Fine Amount</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model)
        {
            <tr class="fade-in-row">
                <td>@transaction.Book.Title</td>
                <td>@transaction.User.UserName</td>
                <td>@transaction.BorrowDate.ToShortDateString()</td>
                <td>@(transaction.ReturnDate?.ToShortDateString() == null ? transaction.BorrowDate.AddDays(14).ToShortDateString() :transaction.ReturnDate?.ToShortDateString())</td>
                <td>@transaction.FineAmount.ToString("C")</td>
                <td>
                    @if (transaction.ReturnDate == null)
                    {
                        <a class="btn btn-success btn-animated" asp-action="MarkAsReturned" asp-route-id="@transaction.Id">Mark as Returned</a>
                    }
                    <a class="btn btn-danger btn-animated" asp-action="DeleteTransaction" asp-route-id="@transaction.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
